{% extends "::base.html.twig" %}

{% block corps %}


  <div class="row blocBlanc">
    <div class="large-4 columns columns">
      <img src="{{ asset('styles/img/presentation.jpg') }}" />
    </div>
    <div class="large-8 columns">
      <h4>Présentation.</h4>
      <div class="row">
        <p>L'association, Ô Tour du Globe, est présente depuis une dizaine d'années dans la vie culturelle de la commune d'Oudon via sa scène lors la fête de la musique.</p>
        <p>Elle parvient chaque année à se faire connaître un peu plus en attirant des groupes amateurs commençant à se forger un nom et des groupes semi-professionnels. L'association va aujourd'hui plus loin en organisant son propre évènement : le Tremplin Ô Tour du Son.</p>
        <p>L'association souhaite donner à 3 groupes, une possibilité d'exposer toute  l'étendue de leur talent lors de cette soirée.</p>
        <p>À la clé une récompense pour le groupe ayant recueillit le plus de suffrages, à savoir : la possibilité de jouer sur notre scène durant la prochaine fête de la musique. Ceci ayant pour but de mettre doublement en avant le talent du groupe vainqueur.</p>
        <p>À ces 3 groupes viennent s'ajouter deux groupes hors concours.</p>
        <p>Nous vous attendons donc nombreux pour venir découvrir et soutenir les différents groupes de la soirée.</p>
      </div>
    </div>
  </div>


<div class="row">
 
        <div class="row">
          <h3>Partenaires</h3>
        </div>
{% endblock %}

{% block partenaires %}

{% for entity in entities %}


    
 
          <div class="large-3 small-6 columns">
            {% media entity.image, 'big' %}
            <div class="panel">
              <p>{{ entity.nom }}</p>
            </div>
          </div>

 


{% endfor %}
{% endblock %}
    